[Unit]
Description=Centaur Web interface
After=network.target DGTCentaurMods.service

[Service]
ExecStart=authbind --deep flask run
WorkingDirectory=/opt/DGTCentaurMods/web
Environment="PYTHONPATH=/opt"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
