[Unit]
Description=DGTCentaurMods software.
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStartPre=/bin/sleep 4
ExecStart=python3 game/menu.py
WorkingDirectory=/opt/DGTCentaurMods
Environment="PYTHONPATH=/opt"
StandardOutput=file:/var/log/centaurmenu.log
StandardError=file:/var/log/centaurmenu.log
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
