[Unit]
Description=DGTCentaurMods software.
After=network.target

[Service]
ExecStartPre=/bin/sleep 4
ExecStart=python3 game/menu.py
WorkingDirectory=/opt/DGTCentaurMods
Environment="PYTHONPATH=/opt"
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
