[Unit]
Description=DGTCentaurMods app
After=network.target DGTCentaurModsWeb.service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStartPre=/bin/sleep 4
ExecStart=python3 main.py
WorkingDirectory=/opt/DGTCentaurMods
Environment="PYTHONPATH=/opt"
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
