[Unit]
Description=Power off DGT controller.
DefaultDependencies=no
Conflicts=reboot.target
Before=poweroff.target halt.target shutdown.target
Requires=poweroff.target

[Service]
ExecStart=python3 board/shutdown.py
Environment="PYTHONPATH=/opt"
WorkingDirectory=/opt/DGTCentaurMods
Type=oneshot

[Install]
WantedBy=shutdown.target
