[Unit]
Description=One time boot script
After=network.target
[Service]
Type=simple
ExecStart=/home/pi/firstboot.sh
[Install]
WantedBy=multi-user.target