[Unit]
Description=One time boot script
After=network.target
[Service]
Type=simple
ExecStart=python firstboot.py
WorkingDirectory=/home/pi
[Install]
WantedBy=multi-user.target
