config.py
*.pyc
.*
epdmine.py
!/.gitignore
push.sh
test.py
__pycache__
**/tests
epaper.jpg
**/epaper.jpg
centaur.db
**/centaur.db
web/static/epaper.jpg
DGTCentaurMods/web/static/epaper.jpg
/DGTCentaurMods/web/static/epaper.jpg
