config.py
*.pyc
.*
epdmine.py
!/.gitignore
push.sh
test.py
__pycache__
**/tests
epaper.jpg
**/epaper.jpg
centaur.db
**/centaur.db
web/static/epaper.jpg
DGTCentaurMods/web/static/epaper.jpg
/DGTCentaurMods/web/static/epaper.jpg
**/7-Zip
**/*.msi
**/*.msi*.log
**/DGTCentaurMods*.deb
**/centaur.tar.gz
**/Win32DiskImager-1.0.0-binary.zip
**/raspberryPi_imager_latest.exe
**/RaspberryPi_imager
**/Win32DiskImager
**/centaur.img
**/home/pi/centaur
**/build/DGTCentaurMods*
**/build/Stockfish*