berserk==0.10.0
certifi==2021.10.8
charset-normalizer==2.0.6
chess==1.6.1
flask==2.0.2
Deprecated==1.2.13
idna==3.2
ndjson==0.3.1
pathlib==1.0.1
Pillow==8.3.2
pyserial==3.5
python-dotenv==0.19.1
requests==2.26.0
RPi.GPIO==0.7.0
spidev==3.5
urllib3==1.26.7
wrapt==1.13.1
pyChromecast==9.2.1
