berserk==0.10.0
casttube==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.6
chess==1.6.1
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
idna==3.2
ifaddr==0.1.7
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
ndjson==0.3.1
pathlib==1.0.1
Pillow==8.3.2
protobuf==3.19.0
psutil==5.8.0
PyBluez==0.23.0
PyChromecast==9.2.1
pyserial==3.5
python-dotenv==0.19.1
requests==2.26.0
spidev==3.5
SQLAlchemy==1.4.26
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.1
zeroconf==0.36.8
zipp==3.6.0
