[Unit]
Description=Bluetooth service

[Service]
ExecStart=/usr/lib/bluetooth/bluetoothd --compat --noplugin=sap

[Install]
WantedBy=multi-user.target
