<!doctype html>
<html ng-app="dgt-centaur-mods">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<script src="{{ url_for('static', filename='2.0/js/angular.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-animate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-aria.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-messages.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-material.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/jquery-3.5.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='chessboardjs/js/chessboard-1.0.0.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/chessboard.arrows.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-storage.min.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/socket.io.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/chess.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/angular-codearea.js') }}"></script>

		<script src="{{ url_for('static', filename='2.0/js/history.js') }}"></script>
		<script src="{{ url_for('static', filename='2.0/js/index.js') }}"></script>

		<link rel="stylesheet" href="{{ url_for('static', filename='2.0/css/angular-material.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='chessboardjs/css/chessboard-1.0.0.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='2.0/css/index.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='2.0/css/angular-codearea.css') }}">

		<script type="text/ng-template" id="board.html">

			<div layout="row" layout-align="center stretch">
				<div id="board_wrapper[[item.index]]" style="position:relative;display:inline-block">

					<img ng-hide="main.board.loading == false" class="board_canvas loading_image fade-out" ng-src="{{ url_for('static', filename='2.0/images/anya-taylor-joy.gif') }}" width="{{ data.boardsize-2 }}" height="{{ data.boardsize-2 }}"/>

					<canvas id="primary_canvas[[item.index]]" width="{{ data.boardsize-2 }}" height="{{ data.boardsize-2 }}" class="board_canvas" style="pointer-events: none;z-index: 1;opacity:.7">></canvas>
					<canvas id="drawing_canvas[[item.index]]" width="{{ data.boardsize-2 }}" height="{{ data.boardsize-2 }}" class="board_canvas" style="pointer-events: none;z-index: 1;opacity:.7">></canvas>
					<canvas id="moves_canvas_[[item.index]]" width="{{ data.boardsize-2 }}" height="{{ data.boardsize-2 }}" class="board_canvas" style="pointer-events: none;z-index: 1;opacity:.7">></canvas>

					<div id="board[[item.index]]" style="width: {{ data.boardsize }}px;height: {{ data.boardsize }}px;z-index: -1;"></div>

				</div>
			</div>
		</script>

	</head>
	<title>{{ data.title }}</title>	
	<body class="text-center mainfont">
		<div>
			<div ng-controller="MainController as main" class="container theme-showcase">
				
				<div layout="row" data-ng-show="!main.editor.visible">

					<md-menu-bar>
						<span class="app_title">{{ data.title }}</span>
						
						<md-menu data-ng-repeat="menu in main.menuitems">
							<md-button ng-click="main.openMenu($mdMenu, menu, $event)" aria-label="[[ menu.label ]]">
								[[ menu.label ]]
							</md-button>
							<md-menu-content width="3">
								<div data-ng-repeat="item in menu.items track by $index" ng-switch on="item.type">
									<md-menu-item ng-switch-when="subitem">
										<md-menu>
											<md-button ng-click="main.openMenu($mdMenu, menu, $event)" aria-label="[[ item.label ]]">
												[[ item.label ]]
											</md-button>
											<md-menu-content width="3">
												<md-menu-item data-ng-repeat="sitem in item.items" ng-switch on="sitem.type">
													<md-menu-item ng-switch-when="checkbox">
														<md-button ng-click="main.executeCheckboxMenu(sitem, $event)" aria-label="[[ sitem.label ]]">[[ sitem.label ]] → [[ main.board[sitem.id]?' [YES]':' [NO]' ]]</md-button>
													</md-menu-item>
													<md-menu-item ng-switch-default>
														<md-button ng-click="main.executeMenu(sitem, $event)" aria-label="[[ sitem.label ]]">[[ sitem.label ]]</md-button>
													</md-menu-item>
												</md-menu-item>
											</md-menu-content>
										</md-menu>
									</md-menu-item>
									<md-menu-item ng-switch-when="checkbox">
										<md-button ng-click="main.executeCheckboxMenu(item, $event)" aria-label="[[ item.label ]]">[[ item.label ]] → [[ main.board[item.id]?' [YES]':' [NO]' ]]</md-button>
									</md-menu-item>
									<md-menu-item ng-switch-when="divider"></md-menu-item>
									<md-menu-item ng-switch-default>
										<md-button ng-click="main.executeMenu(item, $event)" aria-label="[[ item.label ]]">[[ item.label ]]</md-button>
									</md-menu-item>
								</div>
							</md-menu-content>
						</md-menu>

					</md-menu-bar>
				</div>

				<div data-ng-show="!main.editor.visible" layout="row" layout-align="center stretch">
					<div layout="column" layout-align="space-around center">
						<board main="main" item="main.board" on-analyze="" on-lichess="" on-play="" on-undo="" on-pgn="" on-fen=""></board>
						<div data-ng-show="main.board.synchronized">[[ main.board.turn_caption ]]</div>
						<md-progress-linear data-ng-show="main.board.synchronized && main.board.live_evaluation" md-mode="determinate" value="[[main.board.eval]]"></md-progress-linear>
						<div layout="row" layout-align="center" data-ng-show="main.board.synchronized == false" class="md-warn"><div>&#9842; archive view &#9842;</div></div>
					</div>
					<div></div>
					<div class="pgnarea" style="overflow-y: scroll; height: {{ data.boardsize-6 }}px">
						<div data-ng-repeat="item in main.board.history.pgnlist()">
							<span ng-class="{ 'currentmove':item.index == main.board.history.index() || item.index+1 == main.board.history.index()}">[[$index+1]].</span>&nbsp;
							<span class="clickable" data-ng-click="main.board.history.go(main.chessboard, item.index+0)" ng-class="{ 'currentmove':item.index+0 == main.board.history.index() }">[[item.wsan]]</span>&nbsp;
							<span class="clickable" data-ng-click="main.board.history.go(main.chessboard, item.index+1)" ng-class="{ 'currentmove':item.index+1 == main.board.history.index() }">[[item.bsan]]</span>
						</div>
					</div>
					<div data-ng-show="main.board.centaur_screen" class="centaurarea" style="height: {{ data.boardsize-6 }}px">
						<div layout="column" layout-align="center center"><img id="centaur_screen" style="width:70%"/></div>
					</div>
				</div>

				<div data-ng-show="main.editor.visible">

					<md-toolbar>
						<div class="md-toolbar-tools">
							<h2>[[main.editor.filename]]</h2>
							<md-button class="md-raised md-primary" ng-click="main.editor.save()" aria-label="Save">Save</md-button>
							<md-button class="md-raised md-warn" ng-click="main.editor.visible = false" aria-label="Cancel">Cancel</md-button>
						</div>
					</md-toolbar>
					
					<ivl-codearea ng-model="main.editor.text" syntax="uci"></ivl-codearea>
				</div>

				<div style="visibility: hidden">
					<div class="md-dialog-container" id="sounds_settings">
					<md-dialog layout-padding>
						<h3>Board sounds</h3>
						<div class="md-dense" layout="column" layout-align="center start">
					
							<md-checkbox data-ng-repeat="item in main.board.sounds" ng-click="main.updateAppSettings('sounds_settings_set', item)" ng-model="item.value">[[item.label]]</md-checkbox>

						</div>
					</md-dialog>
					</div>
					<div class="md-dialog-container" id="previous_games">
						<md-dialog layout-padding>
							<h3>Previous games...</h3>
							<div layout="col" layout-align="space-around center">
								<md-content>
									<md-list>
										<md-list-item ng-class="{'is_current':main.currentGame.id == item.id}" class="md-3-line" data-ng-repeat="item in main.games">
											<div class="md-list-item-text">
												<h3>[[ item.white ]] vs [[ item.black ]] [[ item.result ]]</h3>
												<h4>[[ item.created_at ]]</h4>
											</div>
											<md-button data-ng-click="main.onGameLoad(item, $first)" class="md-secondary">Load</md-button>
											<md-button ng-if="!$first" data-ng-click="main.onGameRemove(item)" class="md-secondary md-warn">Remove</md-button>
											<md-divider ng-if="!$last"></md-divider>
										</md-list-item>
									</md-list>
								</md-content>
							</div>
						</md-dialog>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
