<! doctype html >
<html>
  <head>
	<link rel="stylesheet" href="{{url_for('static', filename='chessboardjs/css/chessboard-1.0.0.css')  }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DGT Centaur Board</title>
      <style>
        .main {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }
        .section {
          flex: 1;
        }
        .column.is-offset-1 {
          margin-left: 2%;
        }
      </style>
  </head>
  <body class="main">
  <!--
    # This file is part of the DGTCentaur Mods open source software
    # ( https://github.com/EdNekebno/DGTCentaur )
    #
    # DGTCentaur Mods is free software: you can redistribute
    # it and/or modify it under the terms of the GNU General Public
    # License as published by the Free Software Foundation, either
    # version 3 of the License, or (at your option) any later version.
    #
    # DGTCentaur Mods is distributed in the hope that it will
    # be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
    # of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    # GNU General Public License for more details.
    #
    # You should have received a copy of the GNU General Public License
    # along with this file.  If not, see
    #
    # https://github.com/EdNekebno/DGTCentaur/blob/master/LICENSE.md
    #
    # This and any other notices must remain intact and unaltered in any
    # distribution, modification, variant, or derivative of this software.
  -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/pgn">
          Games
        </a>
        <a class="navbar-item" href="/configure">
          Configure
        </a>

        <a class="navbar-item" href="/rodentivtuner">
          RodentVI Config
        </a>
 
        <a class="navbar-item" href="/support">
          Support
        </a>
        <a class="navbar-item" href="/license">
          License
        </a>
      </div>
      <div class="navbar-end">

      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">

    <div class="columns">
      <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen" id="maincolumn">{% block mainpage %}{% endblock %}</div>
      <div class="column" >
        {% block second %}{% endblock %}
      </div>
      <div class="column ">
        {% block third %}{% endblock %}
      </div>
    </div>

    <div id="lastpgndiv" style="display:none;">
      <p><strong>Last PGN</strong></p>
      <textarea id="lastpgn" class="textarea" placeholder="" rows="12"></textarea>
    </div>

    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>DGT Centaur Mods</strong> - This board has enhanced functionality from the DGT Centaur Mods project on <a href="https://github.com/EdNekebno/DGTCentaur">github</a>
      </p>
    </div>
  </footer>
  <script>
      var timer;
        Object.size = function(obj) {
        var size = 0,
          key;
        for (key in obj) {
          if (obj.hasOwnProperty(key)) size++;
        }
        return size;
      };
      function hideLastPGN() {
        document.getElementById("lastpgndiv").style.display="none";
      }
      function showLastPGN() {
        document.getElementById("lastpgndiv").style.display="block";
      }
      function hideLastGames() {
        document.getElementById("lastestgamesdiv").style.display="none";
        clearInterval(timer);
      }
      function showLastGames() {
        document.getElementById("lastestgamesdiv").style.display="block";
      }
      function getGamesPGNList() {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                const obj = JSON.parse(xmlhttp.responseText);
                var gl = document.getElementById('gameslisting');
                gl.innerHTML = '';
                for (x = 0; x < Object.size(obj); x++) {
                    if (obj[x]["result"] == "None") { obj[x]["result"] = ""; }
                    if (obj[x]["created_at"] == "None") { obj[x]["created_at"] = ""; }
                    if (obj[x]["source"] == "None") { obj[x]["source"] = ""; }
                    if (obj[x]["event"] == "None") { obj[x]["event"] = ""; }
                    if (obj[x]["site"] == "None") { obj[x]["site"] = ""; }
                    if (obj[x]["round"] == "None") { obj[x]["round"] = ""; }
                    if (obj[x]["white"] == "None") { obj[x]["white"] = ""; }
                    if (obj[x]["black"] == "None") { obj[x]["black"] = ""; }
                    // Create the card
                    var card = document.createElement("div");
                    card.id = "gamecard" + obj[x]["id"];
                    card.className = "card";
                    var cardcontent = document.createElement("div");
                    cardcontent.className = "card-content";
                    card.appendChild(cardcontent);
                    content = document.createElement("div");
                    content.className = "content";
                    psource = document.createElement("p");
                    psource.className = "subtitle";
                    psource.innerHTML = "<strong>" + obj[x]["source"] + "</strong>";
                    content.appendChild(psource);
                    var desc = document.createElement("div");
                    desc.innerHTML = "";
                    if (obj[x]["event"] != "") { desc.innerHTML = desc.innerHTML + obj[x]["event"] + ",   "; }
                    if (obj[x]["site"] != "") { desc.innerHTML = desc.innerHTML + obj[x]["site"] + ",   "; }
                    if (obj[x]["round"] != "") { desc.innerHTML = desc.innerHTML + obj[x]["round"] + ",   "; }
                    if (obj[x]["white"] != "" || obj[x]["black"] != "") { desc.innerHTML = desc.innerHTML + obj[x]["white"] + " vs. " + obj[x]["black"] + ",   "; }
                    if (obj[x]["result"] != "") { desc.innerHTML = desc.innerHTML + obj[x]["result"] + ""; }
                    content.appendChild(desc);
                    var gpgn = document.createElement("div");
                    gpgn.id = "gamepgn-" + obj[x]["id"];
                    gpgn.className = "gamepgn";
                    content.appendChild(gpgn);
                    cardcontent.appendChild(content);
                    var ft = document.createElement("footer");
                    ft.className = "card-footer";
                    var a1 = document.createElement("a");
                    a1.className = "card-footer-item";
                    a1.innerHTML = "<a href='#' onClick='showPGN(" + obj[x]["id"] + ")'>Show PGN</a>";
                    ft.appendChild(a1);
                    var a3 = document.createElement("a");
                    a3.className = "card-footer-item";
                    a3.innerHTML = "<a href='#' onClick='deletePGN(" + obj[x]["id"] + ")'>Delete</a>";
                    ft.appendChild(a3);
                    var a2 = document.createElement("a");
                    a2.className = "card-footer-item";
                    a2.innerHTML = "<a href='/analyse/" + obj[x]["id"] + "'>Analyse</a>";
                    ft.appendChild(a2);
                    card.appendChild(ft);
                    card.style.marginBottom = "10px";
                    gl.appendChild(card);
                }
            }
        }
        xmlhttp.open("GET", "/getgames/" + page, true);
        xmlhttp.send();
    }

    function deletePGN(delid) {
      var modal = document.createElement("div");
      modal.id = "deleteconfirm";
      modal.className = "modal is-active";
      var modalback = document.createElement("div");
      modalback.className = "modal-background";
      modal.appendChild(modalback);
      var modalcard = document.createElement("div");
      modalcard.className = "modal-card";
      modal.appendChild(modalcard);
      var modalhead = document.createElement("div");
      modalhead.className = "modal-card-head";
      var modaltitle = document.createElement("div");
      modaltitle.className = "modal-card-title";
      modaltitle.innerHTML = "Are you sure?";
      modalhead.appendChild(modaltitle);
      modalcard.appendChild(modalhead);
      var modalsection = document.createElement("section");
      modalsection.className = "modal-card-body";
      modalsection.innerHTML = "Deleting this game is permanent";
      modalcard.appendChild(modalsection);
      var modalfooter = document.createElement("footer");
      modalfooter.className = "modal-card-foot";
      //justify-content: flex-end;
      modalfooter.style.justifyContent = "flex-end";
      modalcard.appendChild(modalfooter);
      var btns = document.createElement("div");
      btns.className = "buttons";
      modalfooter.appendChild(btns);
      var okaybutton = document.createElement("button");
      okaybutton.innerHTML = "Okay";
      okaybutton.className = "button is-success";
      delitem = delid;
      okaybutton.onclick = function () {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                element = document.getElementById("gamecard" + delitem);
                element.parentNode.removeChild(element);
            }
        }
        xmlhttp.open("GET", "/deletegame/" + delid, true);
        xmlhttp.send();
        element = document.getElementById('deleteconfirm');element.parentNode.removeChild(element);return false;
      };
      var cancelbutton = document.createElement("button");
      cancelbutton.innerHTML = "Cancel";
      cancelbutton.className = "button";
      cancelbutton.href = "#";
      cancelbutton.onclick = function() {element = document.getElementById('deleteconfirm');element.parentNode.removeChild(element);return false;};
      btns.appendChild(cancelbutton);
      btns.appendChild(okaybutton);
      document.body.appendChild(modal);
    }

    gamepgntime = 0

    function fillLatestGames() {
        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                var obj = JSON.parse(xmlhttp.responseText);
                counter = 1;
                var x;
                var ro = [50]
                pgntime = gamepgntime
                var results = {}
                for (x = 0; x < Object.size(obj) && x < 50; x++) {
                  ro[x] = new XMLHttpRequest();
                  ro[x].m = x
                  ro[x].onreadystatechange = function() {
                      if (this.readyState == 4 && this.status == 200) {
                          if (this.responseText.indexOf("1. ") > 0) {
                            if (obj[this.m]["created_at"] != "None" && Date.parse(obj[this.m]["created_at"]) >= pgntime) {
                              document.getElementById("lastpgn").value = this.responseText;
                              pgntime = Date.parse(obj[this.m]["created_at"]);
                              gamepgntime = pgntime;
                            }
                            if (obj[this.m]["created_at"] == "None") { obj[this.m]["created_at"] = ""; }
                            if (obj[this.m]["source"] == "None") { obj[this.m]["source"] = ""; }
                            results[obj[this.m]["created_at"]] = obj[this.m]["id"] + "@_@_@" + obj[this.m]["created_at"] + "@_@_@" + obj[this.m]["source"];
                            var keys = Object.keys(results);
                            incount = 1;
                            keys.sort(function(a, b) {
                                return Date.parse(b) - Date.parse(a)
                            }).forEach(function(k) {
                               d = results[k].split("@_@_@");
                               document.getElementById('latest' + incount).innerHTML = d[1] + "&nbsp;&nbsp;&nbsp;" + d[2];
                               document.getElementById('latest' + incount).href = "/analyse/" + d[0];
                               incount = incount + 1;
                            });
                            counter = counter + 1;
                            if (counter > 9) {
                              return;
                            }
                          }
                      }
                  }
                  ro[x].open("GET", "/getpgn/" + obj[x]["id"], true);
                  ro[x].send();
                  
                }
            }
        }
        xmlhttp.open("GET", "/getgames/" + 1, true);
        xmlhttp.send();
    }
    fillLatestGames();
    timer = setInterval('fillLatestGames()', 10000);
  </script>

  </body>
</html>
