.board_canvas {
	padding:0px;position:absolute;left:0;top:0;
}

.loading_image {
	z-index: 10
}

.fade-out.ng-hide {
	opacity: 0;
}

.fade-out.ng-hide-add, .fade-out.ng-hide-remove {
	transition: all linear 0.5s;
}

.mainfont {
	font-family: Courier, monospace;
	font-size:130%;
}

textarea {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: medium;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:100%;
}

input {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.logEvents {
	height:300px;
	width:800px;
}

.is_current {
	background-color: lightyellow;
}

.piece-417db:hover {
	/*animation: filter-shake 5s;*/
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	filter: sepia(100%);
}

.white-1e1d7{background-color:#e5e5e5;color: #131313}
.black-3c85d{background-color:#b2b2b2;color: #131313}

.app_title {
	font-weight: bold;
	text-decoration: underline dotted;
}

md-progress-linear {
    width: 100%;
    height: 25px;
	border-color: black;
	border-width: 2px;
	border-style:outset;
}

md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
	background-color: black;
	height: 21px;
}

md-progress-linear .md-container .md-bar {
	width: 100%;
	height: 21px;
	background-color: white;
}

.pgnarea {
	border-color: black;
	border-width: 2px;
	border-style:outset;
	width: 300px;
}

.centaurarea {
	border-color: black;
	border-width: 2px;
	border-style:outset;
	width: 300px;
}

.clickable {
	cursor: pointer;
}

.currentmove {
	background-color: yellow;
	font-weight: bolder;
}